a:hover{
    opacity: .8;
}

a:active{
    opacity: .6;
}

/*Анмация для ссылок главного меню*/
.nav-menu a::before{
    position: absolute;
    content:'';
    bottom: 6px;
    left: -20px;
    width: 10px;
    height: 10px;
    opacity: 9;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0) translateX(70px);
    transition: .2s;


}

.nav-menu a:hover::before{
    transform: scale(1) translateX(0);
    transition: .2s;
}
.nav-menu a:hover{
     text-decoration: none;
}

.nav-menu a:active::before{
    opacity: .7;
    transform: scale(0.8);
    transition: .2s;
}

/*____Псевдо элменты____________________________________________________________________*/

button:hover{
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.4);
    transition: .3s;

    transform: translateY(-3px);
}

button:active{
    transform: translateY(-0px);
    background-color: #28595f;
    transition: .3s;
}

/*______________________________________________________________________________________*/
/*____Псевдо элменты____________________________________________________________________*/

.adress-footer::after, .adress-header::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -25px;
    background-image: url(../../assets/ico/placeholder-filled-point.png);
    background-size: cover;
    width: calc(14px + 3 * (100vw / 1920));
    height: calc(14px + 3 * (100vw / 1920));
}
.schedule-footer::after, .schedule-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    background-image: url(../../assets/ico/clock-time.png);
    background-size: cover;
    width: calc(14px + 3 * (100vw / 1920));
    height: calc(14px + 3 * (100vw / 1920));
}
.tell-footer::after, .tell-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    background-image: url(../../assets/ico/telephone.png);
    background-size: cover;
    width: calc(16px + 3 * (100vw / 1820));
    height: calc(16px + 3 * (100vw / 1820));

}

.mail-footer::after{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    background-image: url(../../assets/ico/envelope.png);
    background-size: cover;
    width: calc(16px + 3 * (100vw / 1820));
    height: calc(16px + 3 * (100vw / 1820));
}

.schedule_elem:last-child{
    opacity: 70%;
}

.form_request_content_list_item::before{
    position: absolute;
    top: 0;
    left: -28px;

    content:'';
    background-image: url(/src/assets/ico/check.png);
    background-size: contain;
    width: 20px;
    height: 100%;

}

/*________________________________________________________________________*/

/* Дополнительные линии дял бургер меню*/

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}
.burger::before {
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}

/* Анимации для ребрег меню */

.burger-checkbox:checked + .burger::before {
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 0px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
