@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1, h2, h3, h4, h5, h6, a, p, ul, ol, li, span{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

a, p, ul, ol, li, span, button{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: calc(12px + 3 * (100vw / 1920));
    font-weight: 300;
}

.h3{
    font-size: 24px;
}

.fw_bold{
    font-weight: 700;
    color: rgba(0, 68, 77, 1);
}


