@media (max-width: 1210px) {

    .preview_background {
        height: 100%;
    }

    .preview_inner {
        max-width: 900px;
    }

    .preview {
        max-height: 100%;
    }

    .preview_blocks_elem {
        width: calc(120px + 150 * (100vw / 1248));

    }
}


@media (min-width: 1248px) {
    .preview_blocks_elem {
        padding-right: 40px;
        padding-left: 40px;
    }

    .preview_content {
        padding: 150px 0;
    }

}

@media (max-width: 1400px) {
    .adress-header, .schedule-header{
        display: none !important;
    }
    .services_colum{
        margin: 0 10px;
    }

    .services_colum:last-child .services_colum_elem_wrap{
        display: flex;
    flex-direction: row;
    justify-content: center;

    }

 }
@media (min-width: 1400px) {
.services_colum:last-child .price_title{
        text-align: center;
    }
}

@media (max-width: 1570px) {

    .tell-header{
        display: none;
    }

    .schedule_elem-tell{
        display: block !important;
    }
}

@media (min-width: 1670px) {
    .nav-menu{
    margin: 0 65px !important;

}

}


@media (max-width: 880px){
    .button-request{
        display: none;
    }

}

@media (max-width: 745px){
    .nav-menu{
        display: none;
    }
    .advantages_content_blocks{
        margin: 0 10px;
    }

    .form_problem_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_problem_txt{
        margin: 0 0 25px 0;
    }

    .footer_content{
        display: flex ;
        flex-direction: column-reverse!important;
    }

    .footer-map {
        width: 380px;
    }
}

@media (max-width: 1085px){
    .advantages_content_blocks{
          max-width: 300px;
    }
}
