@media (max-width: 1210px) {

    .preview_background {
        height: 100%;
    }

    .preview_inner {
        max-width: 900px;
    }

    .preview {
        max-height: 100%;
    }

    .preview_blocks_elem {
        width: calc(120px + 150 * (100vw / 1248));

    }
}


@media (min-width: 1248px) {
    .preview_blocks_elem {
        padding-right: 40px;
        padding-left: 40px;
    }

    .preview_content {
        padding: 150px 0;
    }

}

@media (max-width: 1400px) {
    .adress, .schedule{
        display: none !important;
    }

    .services_colum:last-child .services_colum_elem_wrap{
        display: flex;
    flex-direction: row;
    justify-content: center;

    }
 }

@media (max-width: 1570px) {

    .tell{
        display: none;
    }

    .schedule_elem-tell{
        display: block !important;
    }
}

@media (min-width: 1670px) {
    .nav-menu{
    margin: 0 65px !important;

}

}
