@import "../global/_animations-pseudo.css";

.menu-burger {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 15px;
}

.active {
    visibility: visible !important;
    left: 0px !important;
    transition: .3s;

}

.menu-burger-wrapper {
    display: none;
    position: relative;
    left: 0;
    width: 100%;
    visibility: hidden;
    left: -600px;
    transition: .3s;
}

.menu-burger-wrapper_content {
    position: absolute;
    top: -41px;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background-color: #00444D;
    -webkit-box-shadow: 7px 4px 30px -3px rgba(0, 68, 75, 1);
    -moz-box-shadow: 7px 4px 30px -3px rgba(0, 68, 75, 1);
    box-shadow: 7px 4px 30px -3px rgba(0, 68, 75, 1);
}

.burger-start-elem {
    margin: 55px 0;
}

.burger-start-elem,
.burger-contacts {
    padding: 27px;
}

.burger-link-pagers {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.menu-burger-inner_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.menu-burger-wrapper .nav-menu_elem {
    margin: 5px 0 10px 0px;
}

.adress-burger {
    opacity: .8;
}
