footer{
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 10wv;
    height: 100%;
    background-color: #00444D;

}

.footer_content{
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.footer-map{
    min-width: 280px;
    padding: 20px;
}
.footer-map div{
    object-fit: cover;
    object-position: center;
}

.footer-contacts{
    margin: 30px 0;
}
.footer-contacts_content_adress{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
}
.adress-footer{
     margin: 0 40px 20px 0;
}
.schedule-footer{
    position: relative;
}
.footer-contacts_content_adress span{
    opacity: 0.7;
}

.footer-contacts_content_connection a{
    margin: 0px 40px;
}

.footer-contacts_content_title span{
    font-size: 24px;
    font-weight: 600;
    opacity: 0.7;
}
