@import "../global/_media.css";
@import "../global/_fonts.css";
@import "../global/_colors.css";
@import "../global/_buttons.css";
@import "../global/_zeroing.css";
@import "../global/_animations-pseudo.css";



header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    -webkit-box-shadow: 0px 4px 30px -3px rgba(0, 68, 75, 0.3);
    -moz-box-shadow: 0px 4px 30px -3px rgba(0, 68, 75, 0.3);
    box-shadow: 0px 4px 30px -3px rgba(0, 68, 75, 0.3);
    padding: 15px 0;
    background-color: #00444D;
    z-index: 9;
}
.container-header{
    padding: 0 30px;
}
.container-header, .contacts-header, .navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts-header{

    padding: 0 20px;
}

.schedule_elem-tell{
    display: none;
    opacity: .6;
    font-size: 11pt;
}


/*____Меню____________________________________________________________________*/

.nav-menu{
    margin: 0 20px;
    min-width: 360px;
}

.nav-menu_elem{
    margin: 0 25px;
    font-weight: 500;
    font-size: calc(14px + 3 * (100vw / 1920));
    width: 100%;
}

/*_____________________________________________________________________________*/
/*____Логотип____________________________________________________________________*/

.logo {
    width: calc(130px + 50 * (100vw / 1920));
    margin-right: 20px;
    padding: 0 10px;
}

.logo img {
    width: 100%;
}

/*_____________________________________________________________________________*/
/*____Адрес____________________________________________________________________*/
.contacts-header a{
    margin: 0 30px;
}
.adress-header, .schedule-header, .tell-header {
    position: relative;
    min-width: 160px;
    margin: 0 30px;
}

.schedule_elem{
    display: block;
    margin: 0;

}
.footer-map{
    min-width: 300px;
}
.footer-map div{
    object-fit: cover;
}
/*_____________________________________________________________________________*/
/*____Позвонить____________________________________________________________________*/

.button-call {
    background-color: #00444B;
    color: white;
    margin: 0 20px;
    padding: 10px 35px;
    border-radius: 20px;
    transition: .2s;
    -webkit-box-shadow: 6px 6px 4px -3px rgba(0, 68, 75, 0.2);
    -moz-box-shadow: 6px 6px 4px -3px rgba(0, 68, 75, 0.2);
    box-shadow: 6px 6px 4px -3px rgba(0, 68, 75, 0.2);
}


/*_____________________________________________________________________________*/

